{{#each shoppingCart.items as |item|}}
  {{get-quantity item}}x {{get-title item}}: ${{get-price item}}
  <button {{action "remove" item}}>Remove</button>

  <br>
{{/each}}


Total Price: ${{cart-total shoppingCart.items}}
