{{#if updateProductForm}}
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=product.title id="title"}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input value=product.description id="description"}}
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        {{input type="number" value=product.price id="price"}}
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        {{input value=product.image id="image"}}
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select name="category" onchange={{action "updateValue" value="target.value"}}>
          <option value="(indexOf category-list product.category)" selected="selected">{{product.category.title}}</option>
          {{#each category-list as |category index|}}
            {{#unless (eq category.title product.category.title)}}
              <option value={{index}} selected={{eq selectedCategory index}}>{{category.title}}</option>
            {{/unless}}
          {{/each}}
        </select>
      </div>

      <button {{action 'update' product}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateProductForm'}}>Update</button>
{{/if}}
